body{
    margin: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: Roboto;
}

p{ 
    font-family: Roboto;
}

.background-section{
    height: 50vh;
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-section:nth-child(even){
    background-color: #CED0CE;
}

.background-section:nth-child(odd){
    background-color: rgba(155, 193, 188, .9);
}

.background-section:nth-child(n + 2){
    height: 100vh;
}

.background-section:last-of-type{
    height: 50vh;
}

#background-section-1{
    background-image: url(/content/images/carrying-cheerful.jpg);
    background-size: cover;
    background-position-y: 25%;
}

.background-layer{
    width: 100%;
    height: 100%;
    background-color: inherit;
}

#header{
    width: 100vw;
    height: 7vh;
    position: fixed;
    padding-right: 20px;
    background-color: #160C28;
    border-bottom: 3px solid #EFCB68;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color: #CED0CE
}

#header a{
    margin-right: 20px;
    cursor: pointer;
    color: #CED0CE;
    text-decoration: none;
}

#header a:hover{
    color: #EFCB68;
}

#message-container{
    width: 60%;
    min-width: 200px;
    height: 60%;
    position: absolute;
    top: 20vh;
    left: 20vw;
    background-color: #E6E8E6;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.23);
    box-sizing: border-box;
    padding: 5vw;
}

#message-body{
    text-indent: 10%;
}

.message-salutation{
    text-indent: 60%;
}

.message{
    font-size:calc(100vw/100vh);
}

.message:first-of-type{
    margin: 0;
}

.message-salutation:nth-last-child(2){
    margin-bottom: 0;
}

.message-salutation:last-of-type{
    margin-top: 0;
}

#message-salutation-line-two{
    text-indent: calc(60% + 20px);
}

.section{
    width: 100%;
    height: 100%;
    padding: 10px;
    padding-top: 5vh;
    position: absolute;
    left: 0;
    background-color: transparent;
    text-align: center;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.23);
    box-sizing: border-box;
}

#projects-section{
    top: 100vh;
}

#testimonials-section{
    top: 200vh;
}

#contact-section{
    top: 300vh;
}

.section-anchor{
    display: block;
    position: relative;
    top: -7vh;
    padding-top: 7vh;
}